$color-white: #ffffff;
$color-black: #000000;
$color-background: #EEEEEE;

$color-light-blue-4: #f1faff;
$color-light-blue-3: #ddeff9;
$color-light-blue-2: #5e8ce4;
$color-light-blue-1: #3c67ba;

$color-default-blue: #12429f;

$color-dark-blue-2: #002774;
$color-dark-blue-1: #041a45;

$color-light-grey-3: #eaeaea;
$color-light-grey-2: #c4c4c4;
$color-light-grey-1: #777777;
 
$color-dark-grey-2: #555555;
$color-dark-grey-1: #333333;

