// 펠로톤 홈페이지 시스템 폰트정의

.font-display {
    font-size: 4.3rem;
    line-height: 6.5rem;
    font-weight: 500;
}

.font-subhead-6 {
    font-size: 3.2rem;
    line-height: 4.6rem;
    font-weight: 400;
}

.font-subhead-5 {
    font-size: 2.5rem;
    line-height: 4.0rem;
    font-weight: 500;
}

.font-subhead-4 {
    font-size: 2.5rem;
    line-height: 4.0rem;
    font-weight: 400;
}

.font-subhead-2 {
    font-size: 1.6rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.font-subhead-1 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 400;
}

.font-body-3 {
    font-size: 2.0rem;
    line-height: 3.2rem;
    font-weight: 400;
}

.font-body-2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
}

.font-body-1 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
}